
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <video-player video-url="{{ScribeCtrl.videoUrl}}" video-current-time="SubCtrl.videoCurrentTime"></video-player>        
        </div>

        <div style="border-left: 2px;color:black;height: 100px;position:absolute;left: 50%;margin-left: -3px;top: 0;"></div>

        <div class="col-sm-6">
        <div class="container-fluid" style="position: relative">
    <form>
        <div class="form-group">
            <label for="transcription">Enter Transcription</label>
            <textarea class="form-control" rows="5" id="transcription" ng-model="ScribeCtrl.transcriptions[0].text">{{ScribeCtrl.transcriptions[0].text}}</textarea>
        </div>
        <p>
            <a href>
                <span class="glyphicon glyphicon-comment" style="color: black;font-size: 40px">
                </span>
            </a>
            <a href>
                <span class="glyphicon glyphicon-book" style="color: black;font-size: 40px">
                </span>
            </a>
            <button type="submit" class="btn btn-default pull-right" ng-click="ScribeCtrl.saveAndClose(ScribeCtrl.transcriptions[0].text)">Save and Close</button>
        </p>

    </form>
</div>
</div>
</div>

    <div class="detailBox">
        <div class="titleBox" style="background-color:#fdfdfd;padding:10px;">
            <label>Comments</label>
        </div>

        <div class="actionBox">
            <ul class="commentList" style="padding:0;list-style:none;max-height:200px;overflow:auto;">
                <li ng-repeat="comment in ScribeCtrl.comments">
                    <div class="commenterImage">
                        <img src="http://placekitten.com/50/50" />
                        <p>{{comment.username}}</p>
                    </div>
                    <div class="commentText">
                        <p>{{comment.commentText}}</p> <span class="date sub-text" style="color:#aaa;font-family:verdana;font-size:11px;">on March 5th, 2014</span>

                    </div>
                </li>
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" ng-model="ScribeCtrl.comment" type="text" placeholder="Your comments" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="ScribeCtrl.addComment(ScribeCtrl.comment)">Add</button>
                </div>
            </form>
        </div>
    </div>

</div>
