/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
/** CSS for the Project Page **/


/* Draggable*/

.drag-border {
  border: #ff525b dashed 2px;
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.drag-transit {
  border: #3500FF dashed 2px;
}

.card-empty {
  height: 80px !important;
}
.user-profile-image > img {
  position: absolute;
  right: 2px;
  bottom: 2px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.columns {
  margin-right: 10px;
}
.card {
  margin-bottom: 5px;
}
.card-biggest {
  width: 300px !important;
}
.card-big {
  width: 250px;
}
.card-small {
  width: 175px;
}
.card-smallest {
  width: 150px;
}
