
<div class="actionBox container-fluid">
  <h2>Comments</h2>
  <ul class="commentList" style="padding:0;list-style:none">
    <li ng-repeat="comment in comments">
      <div class="row">
        <div class="col-md-1">
          <div class="commenterImage">
              <img src="http://placekitten.com/51/51" />
              <p><strong>{{comment.username}}</strong></p>
          </div>
        </div>
        <div class="col-md-11">
          <div class="commentText">
            <p>{{comment.commentText}}</p>
            <span class="date sub-text" style="color:#aaa;font-family:verdana;font-size:11px;">on March 5th, 2014</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <textarea class="form-control" ng-model="commentTextArea" placeholder="Your comments"></textarea>
    </div>
    <div class="col-md-4">
      <button class="btn btn-default" ng-click="addComment(commentTextArea)">Add Comment</button>
    </div>
  </div>
</div>
